<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MEME GENERATOR</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h2>TECH MEMES</h2>
  </header>


  <div class="container">

    <button id="button" class="btn btn-primary">Get a Random
      Meme</button>
    <div class="card m-2" style="width: 25rem;">
      <img class="card-img-top" src="">
      <div class="card-body">
      </div>
    </div>

  </div>


  <script src="main.js"></script>
</body>

</html>